en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz
fasttext==0.9.2
Flask==1.1.2
joblib==1.0.1
matplotlib==3.3.4
mlflow==1.14.1
numpy==1.19.5
pandas==1.2.3
scikit-learn==0.24.1
scipy==1.6.1
spacy==2.3.5
swifter==1.0.7
tensorboard==2.4.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0+cpu
transformers==4.4.1
waitress==2.0.0
wget==3.2